# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Backups
*.bkp
*.bak
*.backup
*~

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Temp files
*.tmp
*.temp
*.autosave
*.swp

# Logs
*.log

# Draw.io / diagrams.net
*.drawio.bkp
*.drawio~

# VS Code (optional)
.vscode/